<style>

body { margin: 0; padding: 0; background:url('css/bg.jpg') #A98436 no-repeat center fixed; background-size: cover; font-size: 1em; }

h1,h2 { text-align: center; text-shadow: 2px 2px 5px #9D78AD;  }

h1 { font: 4em 'GreatVibesRegular','tangerine',cursive ; margin:0; }
h2 { font-size: 2em; margin: 0.5em 0 0 0; }
h2,legend.legend { font-family: 'tangerine',cursive ; }

#nav { font-size: 1.8em; background-color : #9D78AD; margin: 0; padding-left:0; width: 100%; display: flex; flex-direction: row; justify-content: center; height:2em; }
#nav ul { list-style: none; height:2em;}
#nav li { display: flex; flex-wrap: wrap; justify-content: space-between; color : black; text-shadow : 1px 1px 1px #666; }
#nav li:hover { color : white; cursor: pointer; } 
.nav2 { margin: 0 auto 0 auto; padding:0; width: 10em; display: flex; flex-direction: row; justify-content: center; height:4em; }
.nav2 a { color : black; }

svg { fill: currentColor; }
svg.svg_nav { max-height:1.6em; padding:0.2em 0.4em 0.2em 0.4em; }

fieldset,legend.legend { border-color: #e3ebc3; border-style: solid; border-width: 1px; } 
 
legend.legend { background-color: rgba(172, 131, 55, 1); font-size : 1.5em; font-weight: bold; padding: 4px 20px 0px 20px; border-radius: 5px; }

fieldset { background-color: rgba(172, 131, 55, 0.75); display: flex; justify-content: center; padding: 0 1em 0.5em 1em; margin: 0.5em auto 0 auto; border-radius: 0.8em; }
fieldset.res { display: block; }
fieldset.res ul { justify-content: left; }

form.form { width: 100%; }
ol { margin-left: -2.5em; }
ol li { 
    background: #BF71C2; border-color: #e3ebc3; border-style: solid; border-width: 2px; border-radius: 5px;
    display: flex; flex-wrap: wrap; justify-content: space-between;
    margin: 0; padding: 0.1em; line-height:2em; }

form.form label { display:none; width:0%; }
form.form input { font-size: 1em; background: #ffffff; border: none; border-radius: 3px; outline: none; width: 100%; margin:0.1em 0.1em; }
form.form select { float: right; width: 100%; margin:0.1em 0.1em; }
form.form textarea { width: 100%; }
form.form input.half { width:48%; }
.img_ta { max-height:1.6em; float: right; margin: 4px; }
.img_tb { float: left; margin: 1em 0 0 2em; max-height:2em; height:2em; }
.img_ta:hover, .img_tb:hover, .img_tc:hover { cursor: pointer; }
.img_tc { margin:0; height:4em; display:block; margin: 0.2em auto 0 auto; }

a.butt, form.form button { display:block; background: #384313; border: none; margin: 0.2em auto 0 auto; padding: 0em 1em 0 1em; color: #ffffff; font: 1.2em Georgia, "Times New Roman", Times, serif; letter-spacing: 0.1em; text-shadow: 0 0.1em 0.1em #000000; text-transform: uppercase;text-align: center; line-height: 1.6;
    border-radius: 0.2em;}
a.butt { min-width:50%; max-width:80%; }
.right_button { position: relative; top: 1em; left: 0; }

.marge_d { padding-right:1em; }

.date { font-size:1.2em; }
#message { padding:1em; clear: both; background-color: rgba(0, 0, 0, 0.75); color: white; border-radius: 0.8em; margin: 0.5em auto 0 auto; }
.logs { position: relative; top: -5px; left: 0; }

.red svg.green svg { height : 2em; }
.green { color:green; }
.red { color:red; }
.l_icon { height : 2em; }
form.form input.w20 { width:20%; }
form.form output.w20 { width:20%; font-size :0.8em; text-align: center; }


@media only screen and (max-width:50em) {
    .tx { display: none; }
    h2 { display: none; }
    fieldset  { max-width: 95%; }
    fieldset.res ul { padding-left: 1em;}
    .right_button { max-width:23%; }
    #main_html, #logs { margin: 0 1em 0 1em; }
}

@media only screen and (min-width:50em) {
    .tx { display: inline; margin:0.6em 0.6em 0 0; font-family:'tangerine';}
    fieldset  { max-width: 50em; }
    form.form label { font-size: 1.2em; padding-left:0.5em; display:inline-block; width:40%; }
    form.form input { width:50%; }
    form.form select { width:50%; }
    form.form input.w20, form.form output.w20 { width:24%; }
    #message { max-width:50em; }
}

@font-face {
    font-family: 'GreatVibesRegular';
    src: url('css/GreatVibesRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tangerine';
    src: url('css/tangerine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

</style>
